<a href="https://colab.research.google.com/github/ericline1/programming/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! git clone https://github.com/ds4e/scratchpad

Cloning into 'scratchpad'...
remote: Enumerating objects: 27, done.
remote: Counting objects: 100% (4/4), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 27 (delta 2), reused 1 (delta 1), pack-reused 23 (from 1)
Receiving objects: 100% (27/27), 29.15 KiB | 1.27 MiB/s, done.
Resolving deltas: 100% (7/7), done.

In [ ]:
import urllib.request
import os
import zipfile
import os

def download_data(force=False):
    """Download and extract course data from Zenodo."""

    zip_path = 'data.zip'
    data_dir = './data'

    if not os.path.exists(zip_path) or force:
        print("Downloading course data...")
        urllib.request.urlretrieve(
            'https://zenodo.org/records/18235955/files/data.zip?download=1',
            zip_path
        )
        print("Download complete")

    if not os.path.exists(data_dir) or force:
        print("Extracting data files...")
        with zipfile.ZipFile(zip_path, 'r') as zip_ref:
            zip_ref.extractall(data_dir)
        print("Data extracted")

    return data_dir


if __name__ == "__main__":
    download_data()

Downloading course data...
Download complete
Extracting data files...
Data extracted

In [19]:
import pandas as pd
df = pd.read_csv("/content/data/mn_police_use_of_force.csv")

df.tail()

,response_datetime,problem,is_911_call,primary_offense,subject_injury,force_type,force_type_action,race,sex,age,type_resistance,precinct,neighborhood
12920,2021/08/30 21:38:46,Assault in Progress,Yes,ASLT5,NaN,Bodily Force,Joint Lock,White,Female,69.0,NaN,1,Loring Park
12921,2021/08/30 22:32:22,Unwanted Person,Yes,CIC,NaN,Bodily Force,Joint Lock,NaN,NaN,NaN,NaN,1,Cedar Riverside
12922,2021/08/31 12:03:08,Overdose w/All,Yes,FORCE,NaN,Bodily Force,Body Weight Pin,Black,Male,NaN,NaN,3,Seward
12923,2021/08/31 12:52:52,Attempt Pick-Up,No,WT,NaN,Bodily Force,Body Weight Pin,Black,Male,31.0,NaN,4,Camden Industrial
12924,2021/08/31 21:34:29,Unwanted Person,No,FORCE,NaN,Bodily Force,Push Away,White,Male,NaN,X,1,North Loop

In [26]:
df['problem'].value_counts()

problem
Suspicious Person              1210
Fight                          1073
Disturbance                     949
Domestic Abuse-In Progress      944
Emotionally Disturb Person      682
                               ...
Check Hazard                      1
Panic Alarm                       1
Burglary Dwlng - Report           1
Medical Misc                      1
Drowning                          1
Name: count, Length: 126, dtype: int64